body {
    background-color: peru;
}

.btn {
    cursor: pointer;
}

body {
    color: rgb(52, 73, 94);
}

.clicked {
    color: #7f8c8d;
}

.form,
.greeting {
    display: none;
}

.showing {
    display: block;
} 